section.topic#container
   h2 container and container-full
.sellect.container
   .code
      pre.
         .any_class
            +container
.sellect.container-full
   .code
      pre.
         .any_class
            +container
