section.topic#variables
   h2 arabista variables
   p we have some variables like body background, font size, font type and selection color.
   p we prefere you see it by your self.
   p.finaly finally we want you to have fun and test it.
