section.header
   h2 what will you find here
   p simple you will use our mixins to custome your own website.
   ul
      li
         a(href='#grid') grid system
      li
         a(href='#buttons') buttons
      li
         a(href='#container') container
      li
         a(href='#variables') variables to custome your website
hr
